html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(31,31,31);
    color: white;
    height: 200vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
  }

#intro {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  scroll-snap-align: start;
  scroll-snap-stop: always;
}

#image-container {
  position: relative;
  overflow-x: scroll;
  height: 100vh;

  scroll-snap-align: start;
  scroll-snap-stop: always;
}

#image-container::-webkit-scrollbar { 
  display: none;  /* Chrome, Safari and Opera browsers hide scrollbar */ 
}

body::-webkit-scrollbar {
  display: none;
}


.section {
  position: relative;
  overflow: hidden;

  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.section-1 {
  background-size: cover;
  background-attachment: fixed; /* parallax effect */
}

.section-2 {
  background-color: rgb(40, 40, 40);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 1200px;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.left, .right {
  flex: 1;
  margin: 20px;
}

h2 {
  margin-bottom: 20px;
}

.song-list {
  display: flex;
  flex-direction: column;
}

.song-item {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 10px 20px;
  margin-bottom: 10px;
}

.song-item img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin-right: 20px;
}

.song-info {
  flex: 1;
}

.play-btn {
  background-color: #1DB954;
  color: #FFFFFF;
  padding: 5px 10px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}

.play-btn:hover {
  background-color: #1ED760;
}

#circle-viz {
  display: flex;
  justify-content: center;
}

.restart-button {
  display: inline-block;
  height: 40px;
  padding: 10px 20px;
  border-radius: 4px;
  background-color: #F2F2F2;
  color: #333333;
  border: none;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s ease;
  font-family: 'Courier New', Courier, monospace;
}

.restart-button:hover {
  background-color: #E6E6E6;
}